*{
    margin: 0;
    padding: 0;
}

html{
font-size: 16px;
background-color: #fff;
color: #333;
font-family: Roboto;

}
header{
    min-height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)) , url(../images/pexels-asad-photo-maldives-1320686.jpg);
    background-position: center;
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
   
.logo{
    height: 100px;
    margin-top: 20px;
}
.main-nav,.footer-nav, .social-nav {
   display: flex;
   list-style: none;
}
.main-nav li,.footer-nav li, .social-nav li{
    padding: 0 15px;
 }
 .main-nav li a,.footer-nav li a, .social-nav li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
 }
 .main-nav li a:hover,.footer-nav li a:hover, .social-nav li a:hover{
    color: orange;
    text-decoration: underline;
    
 }  
 .hero-box{
    position: absolute;
    top: 40%;left:20%;
 }
 h1{
    text-transform: uppercase;
    color: white;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 30px;
 }
 .btn{
    border: solid 1px rgb(0, 153, 255);
    margin-right: 15px;
    padding: 10px 20px;
    color: rgb(0, 153, 255);
    text-decoration: none;
    border-radius: 15px;
 }
 .btn:hover{
    color: white;
    background-color: blue;
 }
 section{
    padding: 40px 0;
 }
 h2{
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
   
}
hr{
    width: 100px;
    margin: 20px auto;
    border: solid 2px blue;
}
.feat-desc{
    width: 60%;
    margin: 20px auto;
    text-align: center;
    line-height: 150%;
}
.box{ 
    text-align: center;
}
.box i{
    font-size: 36px;
    color: blue;
    margin-bottom: 10px;
}
.box h3{
    margin-bottom: 10px;
}
.box p{
    line-height: 1.5;
}
.view{
    background-color: black;
    overflow: hidden;
}
.view img {
   width: 100%;
   margin-bottom: -5px;
   opacity: .6;
   transition: 1s;
   transform: scale(1.1);
   
}
.view img:hover{
   
    opacity: 1;
    transform: scale(1);
    
 }
 .city img {
    width: 100%;
    margin-bottom: 10px;
}
.city h3{
   
    margin-bottom: 10px;
}
.city p{
   
    margin-bottom: 10px;
}
.city i{
    margin-right: 10px;
    color: blue;
}
#testimonials{
    background-image:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)) , url(../images/241122379.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}
#testimonials i{
    font-size: 36px;
    margin-bottom: 15px;
}
#testimonials p{
    margin-bottom: 15px;
    line-height: 1.5;
}
#testimonials img{
    height: 60px;
    border-radius:50% ;
    vertical-align:middle ;
    margin-right: 10px;
}
form{
     margin-top: 50px;
}
label{
    font-size: large;
    margin-bottom: 10px;


}
input[type=text] ,
input[type=email] ,
select , textarea
{
    width: 100%;
    pad: 7px;
    border: solid #ccc 1px;
    border-radius: 3px;
    font-size: large;
    margin-bottom: 10px;
}
input[type=chechbox]{
    margin-bottom: 20px;
}
button{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: solid 1px darkblu;
    border-radius: 16px;
}
button:hover{
    background-color: darkblue;
    color: white;
    
}
footer{
    padding: 40px 0px;
    background-color:darkblue;

}
footer p{
    color: white;
    margin-top: 30px;
    text-align: center;
}







